---
import WebSocketClient from "@components/websocket/Client";
import BaseLayout from "@layouts/BaseLayout.astro";

import en from "@locales/en.json";

const t = en;
const canonical = `${Astro.url.href}`;
const ogImage = `${Astro.url.origin}/og${Astro.url.pathname}.png`;
const locale = Astro.currentLocale;
---

<BaseLayout
  title={t.websocket.title}
  description={t.websocket.description}
  image={ogImage}
  canonical={canonical}
  locale={locale}
>
  <div class="background">
    <WebSocketClient client:only="react" className="client" />
  </div>
</BaseLayout>

<style>
  .background {
    background: #202020;
  }

  .client {
    max-width: 960px;
    margin: 0 auto;
    padding: 3rem 0;
  }
</style>
