---
const { href, id, class: externalClass = "" } = Astro.props;
const baseClass = `button-base ${href ? "get-in-touch-button" : "submit-button"} ${externalClass}`;
---

{
  href ? (
    <a href={href} id={id} class={baseClass}>
      <slot />
    </a>
  ) : (
    <button id={id} class={baseClass}>
      <slot />
    </button>
  )
}

<style>
  .button-base {
    background: #ff9100;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition:
      background 0.2s ease,
      transform 0.1s ease;
  }

  .button-base:hover {
    background: #ffa733;
    transform: translateY(-2px);
  }
</style>
