---
const { href, id, class: externalClass = "" } = Astro.props;
const baseClass = `button-base ${externalClass}`;
---

{
  href ? (
    <a href={href} id={id} class={baseClass} role="button">
      <slot />
    </a>
  ) : (
    <button id={id} class={baseClass}>
      <slot />
    </button>
  )
}
