---
const { href, id, class: externalClass = "" } = Astro.props;
---

{
  href ? (
    <a href={href} id={id} class={externalClass} role="button">
      <button>
        <slot />
      </button>
    </a>
  ) : (
    <button id={id} class={externalClass}>
      <slot />
    </button>
  )
}
