---
const { href, id, class: externalClass = "" } = Astro.props;

const linkClass = `link-wrapper ${externalClass}`;
---

{
  href ? (
    <a href={href} id={id} class={linkClass} role="button">
      <button class={externalClass}>
        <slot />
      </button>
    </a>
  ) : (
    <button id={id} class={externalClass}>
      <slot />
    </button>
  )
}

<style>
  .link-wrapper {
    text-decoration: none;
  }
</style>
