---
import { Image } from "astro:assets";
import type { CardItem } from "../data/card-item";

interface Props {
  title: string;
  items: CardItem[];
}

const { title, items } = Astro.props as Props;
---

<div class="card-slider-section">
  <h2>{title}</h2>
  <div class="slider-wrapper">
    <div class="card-slider">
      {
        items.map((item: CardItem) => {
          const page = title.toLowerCase();
          const anchor = item.id;
          return (
            <div class="card-item">
              <a href={`/${page}#${anchor}`}>
                <Image src={item.image} alt={item.title} />
                <h3>{item.title}</h3>
                <p>{item.description}</p>
              </a>
            </div>
          );
        })
      }
    </div>
  </div>
</div>

<style>
  .card-slider-section h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .slider-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .card-slider {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 1rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    justify-content: center;
  }

  .card-slider.overflowing {
    justify-content: flex-start;
  }

  .card-slider::-webkit-scrollbar {
    display: none;
  }

  .card-slider::before,
  .card-slider::after {
    content: "";
    flex: 0 0 1rem;
  }

  .card-item {
    min-width: 140px;
    max-width: 300px;
    height: 300px;
    background-color: #202020;
    border-radius: 1rem;
    padding: 1rem;
    flex-shrink: 0;
    transition:
      box-shadow 0.2s,
      transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }

  .card-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    cursor: pointer;
  }

  .card-item img {
    width: 90%;
    aspect-ratio: 2820 / 1885;
    height: auto;
    max-height: 180px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
  }

  .card-item h3 {
    text-align: center;
    font-size: 1.15rem;
    font-weight: 700;
  }

  .card-item p {
    margin: 0;
    text-align: center;
  }

  .card-item a {
    text-decoration: none;
  }

  @media (max-width: 768px) {
    .card-item {
      max-width: 200px;
      height: 300px;
    }

    .card-slider {
      justify-content: flex-start !important;
    }
  }
</style>
