---
import Button from "./Button.astro";
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";

import linkedinImage from "@images/footer/linkedin.png";
import githubImage from "@images/footer/github.png";
import kvkImage from "@images/footer/kvk.jpg";
import btwImage from "@images/footer/btw.jpg";
import locationImage from "@images/footer/location.svg";
import mailImage from "@images/footer/mail.svg";

import en from "@locales/en.json";
import nl from "@locales/nl.json";

const locale = Astro.currentLocale ?? "en";
const t = Astro.currentLocale === "nl" ? nl : en;
---

<footer class="footer">
  <div class="content">
    <div class="footer-left">
      <div class="icon-text">
        <Image src={kvkImage} alt="KvK" loading="lazy" /><p>96553863</p>
      </div>
      <div class="icon-text">
        <Image src={btwImage} alt="BTW" loading="lazy" />
        <p>NL867658472B01</p>
      </div>
      <div class="icon-text">
        <Image src={locationImage} alt="Location" loading="lazy" />
        <p>{t.address}</p>
      </div>
      <div class="icon-text">
        <Image src={mailImage} alt="e-mail" loading="lazy" />
        <a href="mailto:info@alsoft.nl?subject=Contact%20Form%20Submission"
          >info@alsoft.nl</a
        >
      </div>
      <div class="links">
        <div class="icon-text">
          <Image src={linkedinImage} alt="LinkedIn" loading="lazy" />
          <a href="https://www.linkedin.com/company/alsoftbv" target="_blank"
            >alsoftbv</a
          >
        </div>
        <div class="icon-text">
          <Image src={githubImage} alt="GitHub" loading="lazy" />
          <a href="https://github.com/alsoftbv" target="_blank">alsoftbv</a>
        </div>
      </div>
    </div>

    <div class="footer-right">
      <a href={getRelativeLocaleUrl(locale, "/services")}>{t.services.header}</a
      >
      <a href={getRelativeLocaleUrl(locale, "/industries")}
        >{t.industries.header}</a
      >
      <a href={getRelativeLocaleUrl(locale, "/tools")}>{t.tools.header}</a>
      <span></span>
      <Button
        href={getRelativeLocaleUrl(Astro.currentLocale ?? "en", "/contact")}
        class="small-button">{t.getInTouch}</Button
      >
    </div>
  </div>
</footer>

<style>
  p,
  a,
  br {
    line-height: 1em;
    margin: 0;
  }

  br {
    height: 1em;
  }

  a {
    text-decoration: none;
    transition: text-decoration 0.2s ease;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    height: 1.5rem;
    width: auto;
    display: block;
    margin: 0;
    border-radius: 10%;
  }

  .footer {
    background-color: #000000;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    max-width: 960px;
    margin: 0 auto;
  }

  .footer-left,
  .footer-right {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 0.3rem;
  }

  .footer-right {
    justify-items: end;
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .icon-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
  }

  .small-button {
    font-size: 0.7rem;
  }

  .small-button:hover {
    text-decoration: none;
  }

  @media (max-width: 768px) {
    p,
    a {
      font-size: 0.7rem;
    }

    img {
      height: 1rem;
    }

    .small-button {
      font-size: 0.5rem;
    }
  }
</style>
