---
import Button from "@components/Button.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { Image } from "astro:assets";
import logoImage from "@images/logo.png";
import en from "@locales/en.json";
import nl from "@locales/nl.json";
import enFlag from "@images/nav/en.svg";
import nlFlag from "@images/nav/nl.svg";

const locale = Astro.currentLocale ?? "en";

const currentPath = Astro.url.pathname;
const targetPath =
  locale === "nl"
    ? currentPath.replace("nl/", "")
    : getRelativeLocaleUrl("nl", currentPath);

const links = [
  { name: "Services", href: "/services" },
  { name: "Industries", href: "/industries" },
];

const flag = locale === "nl" ? enFlag : nlFlag;
const t = locale === "nl" ? nl : en;
---

<nav class="navbar">
  <div class="logo">
    <a href={getRelativeLocaleUrl(locale)}
      ><Image src={logoImage} alt="Logo" loading="eager" /></a
    >
  </div>
  <ul class="nav-links" id="nav-links">
    {
      links.map((link) => (
        <li>
          <a href={getRelativeLocaleUrl(locale, link.href)}>{link.name}</a>
        </li>
      ))
    }
    <li>
      <a href={targetPath} class="mobile-flag"
        ><Image
          class="change-language"
          src={flag}
          alt="Change language"
          loading="eager"
        /></a
      >
    </li>
    <li class="mobile-contact">
      <Button href="/contact">{t.getInTouch}</Button>
    </li>
  </ul>
  <div class="menu-toggle" id="menu-toggle" aria-label="Open menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <a href={targetPath} class="desktop-flag"
    ><Image
      class="change-language"
      src={flag}
      alt="Change language"
      loading="eager"
    /></a
  >
  <Button
    href={getRelativeLocaleUrl(locale, "/contact")}
    class="desktop-contact">{t.getInTouch}</Button
  >
</nav>

<script>
  const toggle = document.getElementById("menu-toggle");
  const navLinks = document.getElementById("nav-links");

  if (toggle && navLinks) {
    toggle.addEventListener("click", () => {
      navLinks.classList.toggle("show");
      navLinks.classList.toggle("active");
      toggle.classList.toggle("active");
    });

    window.addEventListener("resize", () => {
      if (window.innerWidth > 768) {
        navLinks.classList.remove("show", "active");
        toggle.classList.remove("active");
        navLinks.removeAttribute("style");
      }
    });
  }
</script>

<style>
  .navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #000000;
    flex-wrap: wrap;
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
  }

  .menu-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px 0;
    border-radius: 2px;
    transition: 0.3s;
    transform-origin: center;
  }

  .menu-toggle.active span:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }

  .menu-toggle span {
    transition:
      transform 0.3s,
      opacity 0.3s;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    margin-left: 2rem;
    padding: 0;
    flex-grow: 1;
    transition: max-height 0.3s ease;
    margin-left: 2rem;
  }

  .nav-links a {
    text-decoration: none;
    font-size: 1rem;
  }

  .change-language {
    height: 1.5rem;
    width: auto;
  }

  .mobile-flag {
    display: none;
  }

  .desktop-flag {
    display: block;
    margin-right: 2em;
  }

  .mobile-contact {
    display: none;
  }

  .desktop-contact {
    display: block;
  }

  @media (max-width: 768px) {
    .nav-links {
      margin-left: 0;
      position: absolute;
      top: 4rem;
      left: 0;
      width: 100%;
      background: #000;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
      max-height: 0;
      overflow: hidden;
      visibility: hidden;
      opacity: 0;
      transition:
        max-height 0.7s ease,
        opacity 0.3s ease,
        visibility 0.3s ease;
      display: none;
    }

    .nav-links.show {
      visibility: visible;
      opacity: 1;
      display: flex;
    }
    .nav-links.show::after {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
    }

    .nav-links.active {
      max-height: 500px;
    }

    .menu-toggle {
      display: flex;
    }

    .mobile-flag {
      display: block;
    }

    .desktop-flag {
      display: none;
    }

    .mobile-contact {
      display: block;
    }
    .desktop-contact {
      display: none;
    }
  }

  .logo img {
    height: 3rem;
    width: auto;
    display: block;
  }
</style>
