---
import Card from "@components/Card.astro";
import Header from "@components/Header.astro";
import Underline from "@components/Underline.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

import {
  getLocalizedTools,
  getTranslationPaths,
  useTranslations,
} from "@locales/utils";

export function getStaticPaths() {
  return getTranslationPaths();
}

const t = useTranslations(Astro.params.lang);
const toolList = getLocalizedTools(Astro.params.lang);
---

<BaseLayout
  title={t.tools.title}
  description={t.tools.description}
  canonical="https://alsoft.nl/tools"
>
  <Header>{t.tools.header}</Header>
  {
    toolList.map(({ path, tool }) => (
      <Card class="card">
        <h1>
          <a href={path}>
            <Underline>{tool.title}</Underline>
          </a>
        </h1>
        <p>{tool.description}</p>
      </Card>
    ))
  }
</BaseLayout>

<style>
  a {
    text-decoration: none;
  }

  .card {
    max-width: 960px;
    margin: 2rem auto;
  }

  @media (max-width: 960px) {
    .card {
      margin: 1rem 0.5rem;
    }
  }
</style>
