---
import BaseLayout from "./BaseLayout.astro";
const { data, slug, canonical } = Astro.props;
---

<BaseLayout
  title={data.title}
  description={data.description}
  image={`https://alsoft.nl/og/${slug}.png`}
  canonical={`https://alsoft.nl/${canonical}`}
>
  <div class="post-content">
    <h1 class="title">{data.title}</h1>
    <p class="date">
      {
        data.date
          .toLocaleDateString("en-GB", {
            day: "2-digit",
            month: "2-digit",
            year: "numeric",
          })
          .replace(/\//g, "-")
      }
    </p>
    <slot />
  </div>
</BaseLayout>

<style is:inline>
  .post-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
  }

  .post-content h1 {
    font-size: 2rem;
    padding-top: 2rem;
  }
  .post-content h1,
  .post-content h2 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .post-content h3 {
    font-weight: 600;
    margin: 0.8rem 0;
  }

  .post-content img {
    width: 60%;
    height: auto;
    padding: 2rem 20% 0 20%;
  }

  .post-content blockquote {
    text-align: center;
    font-style: italic;
    margin: 0;
    padding-bottom: 2rem;
  }

  .post-content hr {
    width: 240px;
    margin: 2rem auto;
    border: none;
    height: 2px;
    background-color: #4f4f4f;
    opacity: 1;
  }

  .post-content p {
    margin: 0;
  }

  .post-content li {
    line-height: 2;
  }

  .post-content .date {
    color: #cfcfcf;
    margin-bottom: 1rem;
  }

  .post-content .title {
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    .post-content img {
      width: 100%;
      padding: 1rem 0 0 0;
    }

    .post-content blockquote {
      padding-bottom: 1rem;
    }
  }
</style>
