---
import GetInTouchButton from "../components/button/GetInTouchButton.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";

const { pageTitle, data } = Astro.props;
---

<BaseLayout>
    <Header siteTitle={pageTitle} />

    {
        data.map(
            (
                item: { image: string; title: string; longDescription: string },
                index: number,
            ) => (
                <section
                    class={`content-section ${index % 2 !== 0 ? "reverse" : ""}`}
                >
                    <div class="content-wrapper">
                        <img
                            class="content-image"
                            src={item.image}
                            alt={item.title}
                        />
                        <div class="text-content">
                            <h2
                                id={item.title
                                    .replace(/\s+/g, "")
                                    .toLowerCase()}
                            >
                                {item.title}
                            </h2>
                            <p class="content-description">
                                {item.longDescription}
                            </p>
                            <GetInTouchButton />
                        </div>
                    </div>
                </section>
            ),
        )
    }
</BaseLayout>

<style>
    .header {
        background: linear-gradient(-45deg, #ff9100 0%, #ffd180 100%);
        padding: 4rem 2rem;
        text-align: left;
        font-size: 2.5rem;
    }

    .content-section {
        display: flex;
        justify-content: center;
        padding: 2rem;
    }

    .content-wrapper {
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-wrap: nowrap;
        max-width: 1200px;
        width: 100%;
        padding: 3rem;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.5);
    }

    .content-section.reverse .content-wrapper {
        flex-direction: row-reverse;
    }

    .content-image {
        width: 50%;
        max-width: 900px;
        border-radius: 10px;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1;
        text-align: center;
    }

    .text-content h2 {
        margin: 0;
        color: #fff;
        font-size: 3rem;
    }

    .content-description {
        color: #fff;
        font-size: 1.1rem;
    }

    [id] {
        scroll-margin-top: 300px;
    }

    @media (max-width: 768px) {
        .header {
            padding: 1rem;
        }

        .content-section.reverse .content-wrapper {
            flex-direction: column;
        }

        .content-wrapper {
            flex-direction: column;
            gap: 1.5rem;
        }

        .content-image {
            width: 90%;
        }

        [id] {
            scroll-margin-top: 600px;
        }
    }
</style>
