---
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Button from "@components/Button.astro";
import type { CardItem } from "@data/card-item";
import en from "@locales/en.json";
import nl from "@locales/nl.json";

const { pageTitle, data } = Astro.props;
const t = Astro.currentLocale === "nl" ? nl : en;
---

<BaseLayout>
  <Header title={pageTitle} />
  <section class="content-section">
    {
      data.map((item: CardItem, index: number) => {
        const translated = t.cards[item.id as keyof typeof t.cards];

        return (
          <div
            class={`content-wrapper ${index % 2 !== 0 ? "reverse" : ""}`}
            id={item.id}
          >
            <div class="image-wrapper">
              <Image
                class="content-image"
                src={item.image}
                alt={translated.title}
                decoding="async"
                loading={index === 0 ? "eager" : "lazy"}
              />
            </div>
            <div class="text-content">
              <h2>{translated.title}</h2>
              <p class="content-description">{translated.longDescription}</p>
              <Button
                href={getRelativeLocaleUrl(
                  Astro.currentLocale ?? "en",
                  "/contact"
                )}
                class="get-in-touch"
              >
                {t.getInTouch}
              </Button>
            </div>
          </div>
        );
      })
    }
  </section>
</BaseLayout>

<style>
  .content-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 960px;
  }

  .content-wrapper {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    border-radius: 8px;
    background-color: #202020;
    scroll-margin-top: 5rem;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .image-wrapper {
    width: 50%;
    border-radius: 8px;
    overflow: hidden;
  }

  .image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
  }

  .text-content p {
    margin: 0;
  }

  .text-content h2 {
    margin: 0;
    font-size: 3rem;
    text-align: center;
  }

  .get-in-touch {
    width: fit-content;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    .content-section {
      padding: 1rem 0.5rem;
    }

    .content-wrapper {
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
    }

    .text-content h2 {
      font-size: 2rem;
    }

    .image-wrapper {
      width: 100%;
    }
  }
</style>
